{% extends 'base' %}

{% block content %}
    <h1>Elvégzett feladatok</h1>

    <table class="table table-striped">
       
            <tr>
                <th>név</th>
                <th>leírás</th>
                <th>szint (1-5)</th>
                <th>végrehajtó</th>
                <th>dátum</th>
            </tr>
            
            {% for task in tasks %}
                {% if task.show == 1 %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.text}}</td>
                    <td>{{task.level}}</td>
                    <td>{{task.fin_uname}}</td>
                    <td>{{task.date}}</td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>

{% endblock %}