{% extends 'base' %}

{% block content %}
    <h1>Elvégzett feladatok</h1>

    <table class="table table-striped">
       
            <tr>
                <th>#</th>
                <th>név</th>
                <th>leírás</th>
                <th>szint (1-5)</th>
                <th>végrehajtó</th>
                <th>dátum</th>
            </tr>
            

            <tr>
                <td></td>
                <td>{{todo.title}}</td>
                <td>{{todo.text}}</td>
                <td>{{todo.level}}</td>
                <td>{{todo.uname}}</td>
                <td>{{todo.date}}</td>
            </tr>
    </table>

{% endblock %}