{% extends 'base' %}

{% block content %}

<h1>Bejelentkezés</h1>

{% if old('error') %}
<div class="alert alert-danger" role="alert">
{{ old('error') }}
</div>
{% endif %}

<form method="post" action="/login">
    {{ csrfField }}
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input required="required" type="mail" class="form-control" id="email" placeholder="E-mail" name="email" value="{{ old('email') }}" />
    </div>
    <div class="form-group">
        <label for="password">Jelszó:</label>
        <input required="required" type="password" class="form-control" id="password" placeholder="Jelszó" name="password" value="{{ old('password') }}"/>
    </div>
    <button type="submit" class="btn btn-default">Bejelentkezés</button>
</form>

{% endblock %}