{% extends 'base' %}

{% block content %}
    <h1>Elvégzendő feladatok</h1>

    {% if currentUser %}
    <p>Szervezetünkben mindenki egyenlő. Bármikor írhatsz ki feladatot a közösség javára, de elváruk, hogy teljesíts is feladatokat.</p>
    {% endif %}

    <table class="table table-striped">
       
            <tr>
                <th>név</th>
                <th>leírás</th>
                <th>szint (1-5)</th>
                <th></th>
            </tr>
            
            {% for task in tasks %}
                {% if task.show == 1 %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{% if currentUser %}{{task.text}}{% else %}[jelentkezz be]{% endif %}
                    </td>
                    <td>{{task.level}}</td>
                    <td>
                        {% if currentUser %}
                            <a class="btn btn-default" href="/do/{{task.id}}">elvégeztem</a>
                            {% if task.showdel %}
                                <a class="btn btn-danger" href="/del/{{task.id}}">törlés</a>
                            {%endif%}
                        {%endif%}
                        
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>

{% endblock %}