{% extends 'base' %}

{% block content %}

<h1>Jelszómódosítás</h1>

{% if old('errors') %}
<div class="alert alert-danger" role="alert">
    <ul>
    {% for error in old('errors') %}
    <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<p>A neved és az email címedet nem írhatod át. Megtalálnunk, ha egy feladatot úgy jelentesz elvégzettnek, hogy nem csináltal semmit...</p>
<form method="post" action="/password">
    {{ csrfField }}
    <div class="form-group">
        <label for="password">Új jelszó <small>(minimum 4 karakter)</small>:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Új jelszó" />
    </div>
    <button type="submit" class="btn btn-default">Mentés</button>
</form>

{% endblock %}