{% extends 'base' %}

{% block content %}

<h1>Regisztráció</h1>

{% if old('errors') %}
<div class="alert alert-danger" role="alert">
    <ul>
    {% for error in old('errors') %}
    <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form id="regform" method="post" action="/reg">
    {{ csrfField }}
    <div class="form-group">
        <label for="username">Felhasználónév:</label>
        <input required="required" type="text" class="form-control" name="username" id="username" placeholder="Felhasználónév" value="{{ old('username') }}" />
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input required="required" type="mail" class="form-control" name="email" id="email" placeholder="E-mail" value="{{ old('email') }}" />
    </div>
    <div class="form-group">
        <label for="password">Jelszó:</label>
        <input required="required" type="password" class="form-control" name="password" id="password" placeholder="Jelszó" value="{{ old('password') }}" />
    </div>
    <button type="submit" class="btn btn-default">Regisztráció</button>
</form>

{% endblock %}